@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
body {
    /* o site tendo fundo responsivo rsrs*/
    width: 100%; 
    height: 100%; 
    margin: 0;
    box-sizing: border-box;
    background-color: #21432C;
    background-image: linear-gradient(to bottom,
    #347149,
    rgba(44, 124, 105, 0.46),
    rgba(25, 167, 133, 0));
    padding: 6px 99px 5px 93px;
}

input{
    width: 70px;
    height: 17px;
    margin: 0 8px 0 0;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgba(217, 217, 217, 0.1);
}

h1,
h2,
h3,
h4,
ul,
span,
p,
blockquote,
dd {
margin: 0px;
padding: 0px;
}

ul {
padding: 0px;
list-style: none;
}

a {
text-decoration: none;
color: inherit;
}

img {
max-width: 100%;
height: auto;
display: block;
}

img[src$=".jpg"] {
border-radius: 4px;
}

.squad-name{
    width: 64px;
    height: 41px;
}